
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}
.dark-theme {
  background: #121212;
  color: #f1f1f1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex;
  gap: 1rem;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.hero {
  text-align: center;
  padding: 2rem;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
}
.btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
